<h3>Create a Student</h3>
<%= form_with model: @student do |f|%>
    <%= f.text_field :name, placeholder: "Enter your name" %><br>
    <%= f.text_field :age, placeholder: "Enter your age" %><br>
    <%= f.submit %>
<% end %>